<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Google</title>
  <meta name="description" content="Sample site">
  <meta name="author" content="phadyniak">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
	<div class='container'>
		<div class='page-header'>
			<h1>Google</h1>
		</div>
		<div class='row'>
			<div class='col-md-4'>
				<% if (!user) { %>
				<form action='/login' method='POST'>
					<label>Username:</label>
					<input type='text' name='username' class='form-control' value='user' />
					<label>Password:</label>
					<input type='password' name='password' class='form-control' value='' placeholder='Enter password' /><br/>
					<button type='submit' class='btn btn-primary'>Login</button>
				</form>
				<% } else { %>
					<h3>Hello, <b><%= user.username %></b> <small>(<a href='/logout'>logout</a>)</small>	</h3>
					<h4>Messages:</h4>
					<form action='/add_message' method="POST">
						<input name='message' class='form-control' placeholder='Enter you message...'/><br/>
						<button type='submit' class='btn btn-primary'>Send</button>
					</form>
					<br />
					<ul class='list-group'>
						<% messages.forEach(message => {%>
							<li class='list-group-item'>
								<b><%= message.author %></b>: <span><%- message.text %></span>
							</li>
						<% }) %>
					</ul>
				<% } %>
			</div>
			<div class='col-md-4'>	
				<h4>Tips:</h4>
				<p>Password is <code>pass</code></p>
				<p><a target="_blank" href='http://localhost:3001'>Just a link</a> (CSRF)</p>
				<p><a href='/sql'>SQL Injection Sample</a></p>
				<p><a target="_blank" href='http://localhost:3002'>"Google"</a></p>
			</div>
		</div>
	</div>
</body>
</html>
