<form action='/login' method='POST'>
	<label>Username</label><br/>
	<input name='username' value='user' /><br/>
	<label>Password</label><br/>
	<input name='password' value='pass' /><br/>
	<input type='submit' value="Login"/>
</form>
