<%

function fun() {
	//as afasdasdas
}

let x = scores;

%>

<span>
	<% if (is_excluded) { %>
	<del><%= fullname %></del> 
	<% } else { %>
	<span><%= fullname %></span> 
	<% } %>
	(<small><%= id %></small>)
</span>

<ul>
	<% for (let score of x) { %>
	<li><%= score %></li>
	<% } %>
</ul>
