<% include partials/header %>

<h1>Index</h1>

<ul>
    <li><a href='/register'>Register</a></li>
    <li><a href='/login'>Login</a></li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/profile'>Profile</a></li>
    <li><a href='/admin'>Admin</a></li>
</ul>