<% include partials/header %>

<h1>Profile</h1>

<% if (user) { %>
<b><%= user.username %></b>
<% } else { %>
<i>No user</i>
<% } %>

<form method='POST' action='/posts'>
    <textarea name='body'></textarea>
    <input type='submit' value='Post text'/>
</form>


<ul>
    <% for (let post of posts) { %>
    <li><%= post.body %></li>
    <% } %>
</ul>