<h1>Register</h1>

<form action='/register' method='POST'>
    <label>Username</label><br/>
    <input name='username' value='user' /><br/>
    <label>Password</label><br/>
    <input type='password' name='password' value='pass' /><br/>
    <input type='submit' value="Login"/>
</form>